{% extends "base.html" %}
{% import 'base.html' as base %}
{% block back_button %}
<p class="navbar-brand text-center wsi-choose-text">Choose the Whole Slide Image patch that
    you think is real
</p>
{% endblock %}
{% block logout_button %}
{{ base.logout(user.is_authenticated) }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/patch?id={{ patch1_id }}" alt="Patch 1" class="img-fluid">
            <div class="text-center">
                <form action="/classification" method="POST">
                    <input type="hidden" name="real_patch_id" value="{{ real_patch_id }}">
                    <input type="hidden" name="fake_patch_id" value="{{ fake_patch_id }}">
                    <button type="submit" name="classification"
                        value="{{ 'real' if real_patch_id == patch1_id else 'fake' }}"
                        class="btn btn-dark btn-lg black-btn mt-3">This is the real image</button>
                </form>
            </div>
        </div>
        <div class="col">
            <img src="/patch?id={{ patch2_id }}" alt="Patch 2" class="img-fluid">
            <div class="text-center">
                <form action="/classification" method="POST">
                    <input type="hidden" name="real_patch_id" value="{{ real_patch_id }}">
                    <input type="hidden" name="fake_patch_id" value="{{ fake_patch_id }}">
                    <button type="submit" name="classification"
                        value="{{ 'real' if real_patch_id == patch2_id else 'fake' }}"
                        class="btn btn-dark btn-lg black-btn mt-3">This is the real image</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="d-flex justify-content-center">
    {{ base.footer() }}
</div>
{% endblock %}