{% extends "base.html" %}
{% import 'base.html' as base %}
{% block back_button %}
<p class="navbar-brand text-center wsi-choose-text">Choose the Whole Slide Image patch that
    you think is real
</p>
{% endblock %}
{% block logout_button %}
<a href="{{ url_for('logout', _scheme='https', _external=True) }}" class="red-button"
    style="margin-bottom: 8px; margin-top: 7px;">
    {{ user.username }}
    <span class="material-icons add-icon">logout</span>
</a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-3">{{ num_classifications }} patches classified</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/patch?id={{ patch1_id }}" alt="Patch 1" class="img-fluid">
            <div class="text-center">
                <button type="button" name="classification"
                    value="{{ 'real' if real_patch_id == patch1_id else 'fake' }}"
                    class="btn btn-dark btn-lg black-btn mt-3"
                    onclick="submitClassification('{{ real_patch_id }}', '{{ fake_patch_id }}', `{{ 'real' if real_patch_id == patch1_id else 'fake' }}`)">This
                    is the real image</button>
            </div>
        </div>
        <div class="col">
            <img src="/patch?id={{ patch2_id }}" alt="Patch 2" class="img-fluid">
            <div class="text-center">
                <button type="button" name="classification"
                    value="{{ 'real' if real_patch_id == patch2_id else 'fake' }}"
                    class="btn btn-dark btn-lg black-btn mt-3"
                    onclick="submitClassification('{{ real_patch_id }}', '{{ fake_patch_id }}', `{{ 'real' if real_patch_id == patch2_id else 'fake' }}`)">This
                    is the real image</button>
            </div>
        </div>
    </div>
</div>

<script>
    function submitClassification(realPatchId, fakePatchId, classification) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/classification');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.status === 200) {
                location.reload();
            }
        };
        xhr.send('real_patch_id=' + realPatchId + '&fake_patch_id=' + fakePatchId + '&classification=' + classification);
    }
</script>
{% endblock %}
{% block footer %}
<div class="d-flex justify-content-center">
    {{ base.footer() }}
</div>
{% endblock %}